<% if notice %>
  <div class="alert alert-info"><%= notice %><p><%= @course.reference_no if current_user.courses.last.enrollment_ids %></p></div>
<% end %>

<div class="mt-4">
  <h2><%= @course.title %></h2>
  <p class="text-muted"><%= @course.description %></p>
  <h4 class="text-success"><%= number_to_currency(@course.price) %></h4>
</div>

<div class="mt-4">
  <%= button_to 'Enroll', enroll_course_path(@course), method: :post, class: 'btn btn-primary' %>
</div>
